.answer1, .answer2, .answer3 {
  display: none;
  font: 120;
  font-weight: 600;
  padding: 5%
}

body {
  background-color: #080A52;
  color: #EB2188;
  border: 8px solid #EB2188;
  padding: 12px 20px;
}

.button {
  padding: 15%
}